.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
    opacity: .9;
    background: #e2f3fe;
    color: #092a5e;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 250ms linear;
    transition: -webkit-transform 250ms linear;
    transition: transform 250ms linear;
    transition: transform 250ms linear, -webkit-transform 250ms linear;
    padding-top: 80px
}

.mobile-menu__bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: #e2f3fe
}


.container--mobile-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo-img--transparent {
    width: 71px
}

.mobile-menu.is-open {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.navigation__mobile-menu {
    text-align: center
}

.navigation__item:not(:last-child) {
    margin-bottom: 45px
}

.navigation__link {
    padding: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px
}

.hamburger {
    padding: 10px 10px;
    display: block;
    cursor: pointer;
    -webkit-transition-property: opacity,-webkit-filter;
    transition-property: opacity,-webkit-filter;
    transition-property: opacity,filter;
    transition-property: opacity,filter,-webkit-filter;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: rgba(0,0,0,0);
    border: 0;
    margin: 0;
    overflow: visible
}

.hamburger:hover {
    opacity: .7
}

.hamburger.is-open:hover {
    opacity: .7
}

.hamburger.is-open .hamburger__inner,.hamburger.is-open .hamburger__inner::before,.hamburger.is-open .hamburger__inner::after {
    background-color: #092a5e
}

.hamburger__box {
    width: 30px;
    height: 16px;
    display: inline-block;
    position: relative
}

.hamburger__inner {
    display: block;
    top: 50%;
    margin-top: -2px
}

.hamburger__inner,.hamburger__inner::before,.hamburger__inner::after {
    width: 30px;
    height: 2px;
    background-color: #092a5e;
    border-radius: 2px;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: .15s;
    transition-duration: .15s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease
}

.hamburger__inner::before,.hamburger__inner::after {
    content: "";
    display: block
}

.hamburger__inner::before {
    top: -7px
}

.hamburger__inner::after {
    bottom: -7px
}

.hamburger__stand .hamburger__inner {
    -webkit-transition: background-color 0s .075s linear,-webkit-transform .075s .15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: background-color 0s .075s linear,-webkit-transform .075s .15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: transform .075s .15s cubic-bezier(0.55, 0.055, 0.675, 0.19),background-color 0s .075s linear;
    transition: transform .075s .15s cubic-bezier(0.55, 0.055, 0.675, 0.19),background-color 0s .075s linear,-webkit-transform .075s .15s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger__stand .hamburger__inner::before {
    -webkit-transition: top .075s .075s ease-in,-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top .075s .075s ease-in,-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top .075s .075s ease-in,transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top .075s .075s ease-in,transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19),-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger__stand .hamburger__inner::after {
    -webkit-transition: bottom .075s .075s ease-in,-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom .075s .075s ease-in,-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom .075s .075s ease-in,transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom .075s .075s ease-in,transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19),-webkit-transform .075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19)
}

.hamburger__stand.is-open .hamburger__inner {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: rgba(0,0,0,0) !important;
    -webkit-transition: background-color 0s .15s linear,-webkit-transform .075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: background-color 0s .15s linear,-webkit-transform .075s 0s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: transform .075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0s .15s linear;
    transition: transform .075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),background-color 0s .15s linear,-webkit-transform .075s 0s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.hamburger__stand.is-open .hamburger__inner::before {
    top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: top .075s .1s ease-out,-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top .075s .1s ease-out,-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top .075s .1s ease-out,transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top .075s .1s ease-out,transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.hamburger__stand.is-open .hamburger__inner::after {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: bottom .075s .1s ease-out,-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom .075s .1s ease-out,-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom .075s .1s ease-out,transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom .075s .1s ease-out,transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1),-webkit-transform .075s .15s cubic-bezier(0.215, 0.61, 0.355, 1)
}

.list {
    list-style: none;
    margin: 0;
    padding: 0
}

.link {
    text-decoration: none;
    color: inherit;
    cursor: pointer
}


.showBtn {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    pointer-events: initial;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26)
}


.section-title {
    font-size: 25px;
    color: #092a5e;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 40px;
    padding-top: 45px;
    scroll-margin-top: 40px;
}

.section-subtitle {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 40px;
    scroll-margin-top: 80px;
}

strong {
    font-weight: 700
}

.section-content-image--wrapper {
    margin-bottom: 44px
}

.section-content-image {
    margin-bottom: 60px
}

.section-content-image--no-margin {
    margin-bottom: 0
}

.section-text:not(:last-child) {
    margin-bottom: 30px
}
.section-text {
    scroll-margin-top: 80px;
}

.section-text--bold {
    font-weight: 700
}

.section-text--marginb {
    margin-bottom: 31px
}

.text--underline {
    display: inline-block;
    font-weight: 400;
    text-decoration: underline;
    color: #70cbf4;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

.text--underline:hover,.text--underline:focus,.text--underline:active {
    color: #061e46;
    -webkit-transform: scale(1.01);
    transform: scale(1.01)
}

.section-blue {
    background-color: #e2f3fe;
    padding: 30px 0;
}

.section-blue-content {
    padding: 30px 0 30px;
    width: 100%;
    margin-bottom: 45px
}

.section-blue-content--title {
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px
}

.section-blue-content--inner {
    padding-left: 64px;
    max-width: 965px;
    margin: 0 auto;
    position: relative
}

.section-blue-content--inner::before {
    content: "";
    position: absolute;
    left: 0;
    width: 45px;
    height: 45px;
    background-image: url("../img/info.svg");
    background-repeat: no-repeat;
    background-size: cover
}

.container {
    padding-left: 16px;
    padding-right: 16px
}

.hero {
    height: 310px;
    background-color: #e2f3fe;
    background-image: url("../img/tui-teaser-workation.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top,right
}

.container--hero {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.logo-hero {
    display: none;
    width: 92px
}

.hero-title {
    width: 100%;
    font-size: 33px;
    padding-bottom: 61px;
    letter-spacing: 1px;
    line-height: 1.1;
    color: #fff;
}

.nav {
    display: none;
    z-index: 5;
    position: sticky;
    top: -1px;
    height: 64px;
    background-color: #092a5e;
    color: #fff;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out
}

.nav--sticky {
    background-color: #e2f3fe;
    color: #092a5e
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav-list--item {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: inline-block;
}

.nav-list--item:hover,.nav-list--item:focus {
    opacity: 0.8;
}

.nav-list--link {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 13px 0;
    letter-spacing: 0;
}

.embed {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 40px
}
.embed+.section-title {
    padding-top: 0;
}

.embed-button {
    background-color: #d40e14;
    color: #fff;
    font-weight: 700;
    border: 0;
    font-size: 16px;
    padding: 11px 22px;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

.embed-button:hover,.embed-button:hover:active {
    background-color: #8c0004
}

.embed-button:active {
    background-color: #d40e14;
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}

.section-text--grey {
    overflow-wrap: break-word;
    color: #b9b9b9;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0;
    margin-bottom: 60px
}

.footer {
    background-color: #f3f0ec;
    height: 78px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.nav-footer--list {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-width: 565px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.nav-footer--link {
    padding: 20px 0;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    color: #092a5e;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-decoration: none;
}

.nav-footer--link:hover,.nav-footer--link:focus {
    color: #70cbf4
}

.mb-15 {
    margin-bottom: 15px!important;
}
.mb-35 {
    margin-bottom: 35px!important;
}
.mb-45 {
    margin-bottom: 45px!important;
}
.mb-60 {
    margin-bottom: 60px!important;
}

.prg-button {
    padding: 0;
    display: inline-block;
    border: none;
    outline: none;
    background-color: rgba(0,0,0,0);
    cursor: pointer
}
table {
    text-indent:0;
    border-color:inherit
}
.radio {
    margin:0 auto;
    background:#e2f3fe;
    border-radius:20px;
    position:relative;
    margin-bottom:30px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    max-width:590px
}
.radio input {
    flex-grow:1;
    min-width:75px;
    width:auto;
    height:100%;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline:none;
    cursor:pointer;
    border-radius:27px;
    padding:4px 8px;
    background:#e2f3fe;
    color:#092a5e
}
.radio input:checked {
    background-image:linear-gradient(#092a5e, #092a5e);
    color:#fff
}
.radio input:before {
    padding:4px;
    content:attr(aria-label);
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%
}
.table-wrapper {
    border-top:solid 2px #f3f0ec;
    position:relative;
    min-height:200px;
    max-height:735px;
    overflow:auto;
    margin-bottom:16px
}
.table-gradient {
    pointer-events:none;
    display:none;
    position:absolute;
    bottom:0;
    z-index:2;
    width:100%;
    height:40px;
    background:linear-gradient(rgba(255, 255, 255, 0.267), rgb(255, 255, 255))
}
.table-gradient.expanded {
    display:block
}
.table {
    font-size:14px;
    width:100%;
    border-collapse:collapse
}
.table-head {
    height:100px;
    font-size:15px;
    line-height:17px;
    border-collapse:separate;
    background-color:#e2f3fe;
    position:sticky;
    z-index:2;
    top:-1px;
    cursor:pointer;
    box-shadow:0px 3px 2px 0px rgba(0,0,0,.1)
}
.table-head .table-heading {
    padding-bottom:31px
}
.table-top-five-head {
    height:77px;
    font-size:15px;
    line-height:17px;
    border-collapse:separate;
    background-color:#e2f3fe;
    position:sticky;
    z-index:2;
    top:-1px;
    cursor:pointer;
    box-shadow:0px 3px 2px 0px rgba(0,0,0,.1)
}
th {
    border:solid 1px #dbdbdb;
    border-collapse:collapse
}
tr {
    vertical-align:middle
}
[data-title] {
    position:relative
}
[data-title]:hover:after {
    opacity:1;
    transition:all .1s ease .5s;
    visibility:visible
}
[data-title]::after {
    content:attr(data-title);
    position:absolute;
    top:100%;
    background-color:#c2e6fa;
    border-radius:10px;
    height:auto;
    width:184px;
    padding:15px;
    left:-50%;
    z-index:999;
    visibility:hidden
}
[data-title-last-child]::after {
    content:attr(data-title);
    position:absolute;
    top:100%;
    left:-120px;
    background-color:#c2e6fa;
    border-radius:10px;
    height:73px;
    width:184px;
    padding:15px;
    z-index:999;
    visibility:hidden
}
.table-row {
    min-height:160px
}
.table-row:hover {
    background-color:#f0f9fe
}
td {
    border:solid 1px #dbdbdb;
    text-align:center;
    border-collapse:collapse;
    height:48px
}
td.active {
    background-color:#f0f9fe;
    font-weight:700
}
.table-cell-land {
    padding-left:10px;
    padding-right:10px;
    text-align:left
}
.table-heading {
    width:160px
}
.table-heading svg {
    transform:rotateZ(180deg);
    width:16px;
    height:16px;
    fill:currentColor;
    display:none
}
.table-heading .icon {
    position:absolute;
    bottom:10px;
    right:40%;
    width:14px;
    height:14px;
    border-radius:50%;
    background-color:#092a5e;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center
}
.table-heading.asc svg {
    transform:rotateZ(0deg)
}
.land-container {
    display:flex;
    justify-content:flex-start
}
.land-icon {
    position:relative;
    top:3px;
    width:17px;
    height:17px;
    margin-right:5px
}
.land-name {
    display:inline-block;
    font-weight:700;
    width:77px
}
.expand-button {
    padding:0px 20px;
    display:flex;
    align-items:center;
    margin:0 auto;
    background-color:rgba(0,0,0,0);
    border:none;
    cursor:pointer;
    color:#092a5e;
    font-size:18px;
    font-weight:700;
    transition:all 250ms ease
}
.expand-button::before {
    display:block;
    content:url("../img/plus.svg");
    width:16px;
    height:16px;
    margin-right:5px
}
.expand-button:hover,.expand-button:active {
    transform:scale(1.05)
}
.expand-button.expanded::before {
    display:block;
    content:url("../img/minus.svg");
    width:16px;
    height:16px;
    margin-right:8px
}
.expand-button.hide {
    display:none
}
.border-text{
    padding: 20px 26px;
    max-width: 604px;
    margin: 0 auto 15px;
    border: 1px solid #DBDBDB;
}
.section-gray{
    padding-top: 80px;
}
.flag-wrapper{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 40px;
    margin-bottom: 45px;
}
.flag-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.flag-image{
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
}
.flag-item--title{
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 10px;
}
.flag-item--text{
    margin-bottom: 40px;
}
.flag-content{
    height: 275px;
    position: relative;
}
.flag-content--title{
    position: absolute;
    left: 16px;
    top: 20px;
    color: #ffffff;
    font-weight: 700;
    font-size:30px;
    line-height: 1;
    letter-spacing: 0;
}
.flag-content--btn{
    position: absolute;
    right: 20px;
    bottom: 18px;
    text-decoration: none;
}
.flag-content img{
    width: 100%;
}
.flag-button {
    background-color: #d40e14;
    color: #fff;
    font-weight: 700;
    border: 0;
    font-size: 16px;
    padding: 11px 22px;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 32px;
}

.flag-button:hover,.flag-button:hover:active {
    background-color: #8c0004
}

.flag-button:active {
    background-color: #d40e14;
    -webkit-transform: translateY(2px);
    transform: translateY(2px)
}
.scrollup {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0,0,0,0);
    width: 45px;
    height: 45px;
    bottom: 140px;
    right: 20px;
    z-index: 3000000000;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1)
}

.scrollup:hover,.scrollup:focus {
    background-color: rgba(54,129,215,.203)
}

.showBtn {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    pointer-events: initial;
    -webkit-box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26);
    box-shadow: 4px 3px 5px 0px rgba(0,0,0,.26)
}



