@media(max-width: 767px)and (min-device-pixel-ratio: 2),(max-width: 767px)and (-webkit-min-device-pixel-ratio: 2),(max-width: 767px)and (min-resolution: 192dpi),(max-width: 767px)and (min-resolution: 2dpx) {
    .hero {
        background-image:url("../img/tui-teaser-workation@2x.avif")
    }
}

@media(min-width: 768px)and (min-device-pixel-ratio: 2),(min-width: 768px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 768px)and (min-resolution: 192dpi),(min-width: 768px)and (min-resolution: 2dpx) {
    .hero {
        background-image:url("../img/tui-teaser-workation@2x.avif")
    }
}
@media screen and (max-width: 767px) {
    .mobile-menu {
        display:block;
    }
    body {
        margin-top:47px;
    }
    .hero {
        background-image: url("../img/tui-teaser-workation.avif")
    }
    .hero-title {
        text-shadow:2px 2px 2px rgba(0,0,0,.27)
    }
    .nav-footer--link {
        font-size:16px;
    }
    .section-content-image--wrapper {
        overflow-x:scroll;
    }

    .section-content-image--wrapper img {
        width: 200%;
    }
}

@media(min-width: 767px) {
    .section--padding-top {
        padding-top:60px;
    }

    .tips-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    .tip-item--text{
        max-width: 301px;
    }
    .section-gray{
        padding-top: 200px;
    }
    .flag-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
    .flag-wrapper{
        grid-row-gap: 0;
    }
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        height:40%;
    }
    .mobile-menu__bar {
        display:none;
    }
    .hamburger {
        top:11px;
        right: 52px;
        display:none;
    }
    .container {
        margin-left:auto;
        margin-right: auto;
        width: 100%;
    }
    .hero {
        background-image:url("../img/tui-teaser-workation.avif");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 466px;
    }
    .logo-hero {
        display:block;
    }
    .hero-title {
        max-width:909px;
        font-size: 53px;
        line-height: 61px;
    }
    .nav {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
@media(min-width: 1200px) {
    .section-title {
        font-size:30px;
    }
    .container {
        max-width:1116px;
    }
    .hero {
        background-image:url("../img/tui-teaser-workation.avif");
    }
    .hero-title {
        max-width:1100px;
    }
    .nav-list--link {
        line-height: 19px;
    }
}

@media(min-width: 1200px)and (min-device-pixel-ratio: 2),(min-width: 1200px)and (-webkit-min-device-pixel-ratio: 2),(min-width: 1200px)and (min-resolution: 192dpi),(min-width: 1200px)and (min-resolution: 2dpx) {
    .hero {
        background-image:url("../img/tui-teaser-workation.avif")
    }
}
@media(min-width: 1199px) {
    .radio {
        max-width:952px;
        padding:4px 0px;
        margin-bottom:20px;
        height:45px;
        padding:4px 0px
    }
    .radio input:checked {
        height:45px;
        margin-top:-5px;
        padding-top:8px;
        font-weight:700
    }
}
